/* nav bar */
/* Add a black background color to the top navigation */
.topnav {
    background-color: white;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    /* background-color: blue; */
    color: blue;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: gray;
    color: white;
}

/* end of nav bar */

body {
    background-color: #ccecff;
    color: #29465b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
}

.about_me_container {
    display: flex;
    align-items: center;
    justify-content: center
}

img {
    height: 50%;
    width: 50%;
}

footer {
    font-size: 10px;
}

p {
    font-size: 20px;
}

#gitlink {
    color: red;
}

#projlist {
    font-size: 20px;
}

</style></head></body></html>