/* nav bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/* end of nav bar */

body {
    background-color: coral;
}

h1 {
    text-align: center;
}

footer {
    font-size: 8px;
}

p {
    font-family: verdana;
    font-size: 20px;
}

#gitlink {
    color: red;
}

</style></head></body></html>